*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url("../images/dragon_alley.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150vh;
    display: flex;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-optical-sizing: auto;
}
.wrapper{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.open-btn{
    background-color: #f19408;
    padding: 2% 4%;
    border-radius: 9%;
    letter-spacing: 2px;
    margin: 5% 0;
    font-family: inherit;
    font-size: 16px;
}
.open-btn:hover{
    transform: scale(1.2);
    background-color: #f0d687;
    cursor: pointer;
}
@keyframes move {
    from{
        transform: translateX(50%);
    }
    to{
        transform: translateX(-310%);
    }
}
.letter{
    width: 50%;
    padding: 5% 7%;
    border: 2px solid burlywood;
    background: linear-gradient(#e3a03b, #B1a086);
    animation: move 2s 2s;
    /* animation-name: move;
    animation-duration: 2s;
    animation-delay: 2s; */
    border-bottom-left-radius: 15% 15%;
    border-bottom-right-radius: 15% 15%;
    border-top-right-radius: 15% 15%;
    border-top-left-radius: 15% 15%;
}
.letter:hover{
    border-bottom-left-radius: 20% 90%;
    border-bottom-right-radius: 90% 20%;
    border-top-right-radius: 5% 50%;
    border-top-left-radius: 3% 50%;
}
.logo{
    width: 5em;
    border-radius: 26%;
    margin-bottom: 5%;
}
.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.5;
    margin-bottom: 5%;
}
.headmaster, .school-name, .invitation{
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.8;
}
.headmaster{
    font-weight: 500;
}
.greeting{
    text-align: start;
    margin-top: 10%;
}